.jumb {
  width: 50%;
  margin: auto 150px;
  background-color: rgb(80, 155, 212);
  position: absolute;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

.cont {
  /*width: 100%;*/
  height: 600px;
  padding: 50px;
  background-image: url("https://static.pexels.com/photos/88725/pexels-photo-88725.jpeg");
  margin: 0 auto;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}
