<div class ="cont">
  <div class="jumbotron text-center">
  <!-- <img src="../assets/pexels-photo-88725.jpeg"> -->
  <h1>Featured Secrets</h1>
</div>
</div>

<div *ngFor="let secret of secrets" class="item">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3> {{ secret.where }} </h3>
        <img [src]="secret.image" />
        <p> {{ secret.location }}</p>
        <!-- <a [routerLink]="['/api/secrets', secret._id]"> View Secret </a> -->
        <p> {{ secret.what }}</p>
        <p> {{ secret.description }}</p>
        <p> {{ secret.tips }}</p>
        <p> {{ secret.when | date:'MMMM y' }}</p>
      </div>
    </div>
  </div>
</div>

<div>
  <a href=""><button type="button" class="btn btn-default" aria-label="Left Align">All Secrets
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </button></a>
</div>
