<div class="imgcontainer">
  <div class="container">
      <h3 class="well">Post a Secret
        <h5>Since you've been dying to tell someone about that awesome little place you went to, here's your chance!
					Our secrets are only visible to current members, so no need to worry about your secret getting leaked.
					</h5>
      </h3>

  	<div class="col-lg-12 well">
  	<div class="row">
  				<form>
  					<div class="col-sm-12">
  						<!-- <div class="row"> -->
  							<div class="col-sm-6 form-group">
									<label for="InputTitle">What is your secret?</label>
					        <input type="text" class="form-control" id="InputTitle"  placeholder="Name of Secret" [(ngModel)]="newSecret.title" name="title">
  							</div>
                <div class="col-sm-4 form-group">
                  <label for="InputWhen"> When were you there? </label>
                  <ng2-datepicker [options]="options" [(ngModel)]="date" id="InputWhen" name="when" class="form-control"></ng2-datepicker>
                </div>
                <div class="col-sm-8 form-group">
                  <label for="InputLocation">Location</label>
                  <input type="text" class="form-control" id="InputLocation" placeholder="City/Town/Region" [(ngModel)]="newSecret.location" name="location">
                </div>

								<div class="col-sm-8 form-group" id="travellerSelect">
									<label for="InputWhat">Category</label>
									<select [(ngModel)]="newSecret.what" name="what" autogrow>
										<option value="food">Place to Eat</option>
										<option value="sleep">Place to Stay</option>
										<option value="activity">Activity</option>
										<option value="viewpoint">Vista</option>
									</select>
								</div>
							<!-- </div> -->

  							<div class="col-sm-6 form-group">
									<label for="InputDescription">Tell us a bit about your experience</label>
					        <textarea class="form-control" rows="5" cols="5" id="InputDescription" placeholder="Enter some details about your trip" [(ngModel)]="newSecret.description" name="description"></textarea>
  							</div>

  						<div class="col-sm-6 form-group">
								<label for="InputTips">Got any tips? </label>
				        <textarea class="form-control" rows="5" cols="5" id="InputTips" placeholder="Give us some tips about your secret before we go" [(ngModel)]="newSecret.tips" name="tips"></textarea>
  						</div>

  						<!-- <div class="row"> -->


  							<div class="col-sm-4 form-group">
									<label for="InputImage">Add a photo</label>
									<input type="file" name="file" ng2FileSelect [uploader]="uploader" /> <br>
									<small id="fileHelp" class="form-text text-muted"> All files must be jpg or png. Only files below 500kb will be uploaded.</small>
  							</div>
  						</div>
							<div class="col-sm-4 form-group">
  					<button type="submit" class="btn btn-default btn-primary" (click)="addNewSecret()"> Add Your Secret! </button>
					</div>
          <!-- </div> -->
  				</form>
  				</div>
  	  </div>
  	</div>
</div>
