/*#travellerSelect select {
 background: white;
 width: 200px;
 font-size: 16px;
 line-height: 1;
 height: 34px;
}*/

h5 {
  font-weight: normal;
}

.imgcontainer {
  background-image: url("../../assets/green-mountain.jpg");
  background-size: cover;
}

.container {
  opacity: 0.95;
}
