<div class="col-md-3 col-md-offset-4">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <form>
	      <div class="form-group">
	        <label for="InputWhere">Where did you go?</label>
	        <input type="text" class="form-control" id="InputWhere"  [(ngModel)]="newSecret.where" name="where">
	      </div>
	      <div class="form-group">
	        <label for="InputLocation">Where was it?</label>
	        <input type="text" class="form-control" id="InputLocation" [(ngModel)]="newSecret.location" name="location">
	      </div>
        <div class="form-group">
	        <label for="InputWhat">What was it?</label>
	        <input type="text" class="form-control" id="InputWhat" [(ngModel)]="newSecret.what" name="what">
	      </div>
        <div class="form-group">
	        <label for="InputDescription">Tell us a bit about your experience</label>
	        <input type="text" class="form-control" id="InputDescription" [(ngModel)]="newSecret.description" name="description">
	      </div>
        <div class="form-group">
	        <label for="InputTips">Got any tips? </label>
	        <input type="text" class="form-control" id="InputTips" [(ngModel)]="newSecret.tips" name="tips">
	      </div>
        <div class="form-group">
	        <label for="InputWhen"> When were you there? </label>
	        <input type="date" class="form-control" id="InputWhen" [(ngModel)]="newSecret.when" name="when">
	      </div>
				<div class="form-group">
					<label for="InputImage">File input</label>
					<input type="file" name="file" ng2FileSelect [uploader]="uploader" />
					<small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
				</div>
	      <button type="submit" class="btn btn-default btn-primary" (click)="addNewSecret()"> Add Your Secret! </button>
			</form>
	  </div>
	</div>
</div>
