/*p {
  font-size: 1.3em;
}*/

.row {
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-heading {
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 4rem;
}


.text-lg {
    font-size: 2em;
}

.bg-faded {
    /*background-color: rgba(202, 255, 229, 0.9);*/
}


hr.divider {
    /*border-color: #292b2c;*/
    /*max-width: 250px;*/
}
