<!-- <div *ngIf="secret">
  <img [src]="secret.image" style="width:100%">
  <h3> {{ secret.where }} </h3>
  <p> {{ secret.location }} </p>
  <p> {{ secret.what }}</p>
  <p> {{ secret.description }}</p>
  <p> {{ secret.tips }}</p>
  <p> {{ secret.user }}</p>
  <p> {{ secret.when | date:'MMMM y' }}</p>
</div> -->


<!-- First Photo Grid-->
<!-- <div class="w1-row-padding w1-padding-3 w3-center">
    <div *ngIf="secret">
    <img [src]="secret.image" style="width:100%">
    <h1> {{ secret.where }} </h1>
    <h2> {{ secret.location }} | {{ secret.what }} </h2>
    <p> {{ secret.description }}</p>
    <p> {{ secret.tips }}</p>
    <p> Posted By: {{ secret.user }} who traveled there on {{ secret.when | date:'MMMM y' }} </p>
  </div>

</div> -->

<div class="container">

    <div class="bg-faded p-6 my-4">
        <hr class="divider">
        <div *ngIf="secret">
        <h2 class="text-center text-lg text-uppercase my-0"> {{ secret.location }} </h2>
        <hr class="divider">
        <div class="row">
            <div class="col-lg-8">
                <div class="embed-responsive embed-responsive-16by9 map-container mb-4 mb-lg-0">
                    <img [src]="secret.image" style="width:100%">
                </div>
            </div>
            <div class="col-lg-4">
                <h5 class="mb-0"> Where: </h5>
                <div class="mb-4">{{ secret.where }}</div> <br>
                <h5 class="mb-0"> What: </h5>
                <div class="mb-4">{{ secret.what }}</div> <br>
                <h5 class="mb-0"> Description: </h5>
                <div class="mb-4">{{ secret.description }}</div> <br>
                <h5 class="mb-0"> Tips before you go: </h5>
                <div class="mb-4">{{ secret.tips }}</div> <br>
                <div class="mb-4"> Posted By: {{ secret.user.username }} who traveled there on {{ secret.when | date:'MMMM y' }} </div>

            </div>
        </div>
    </div>
  </div>
</div>
