<!-- Page Content -->
<div class="container">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0"> Your Secret Places </h2>
  <hr class="divider">
  
  <router-outlet></router-outlet>
    <!-- Page Header -->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Page Heading
                <small>Secondary Text</small>
            </h1>
        </div>
    </div> -->
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-xs-3 item" *ngFor="let secret of secrets">
            <a href="#">
                <img class="img-responsive" [src]="secret.image" alt="" class="imgpic">
            </a>
            <h3>
                <a href="#">{{ secret.where }} </a>
            </h3>
            <p> {{ secret.location }}</p>
            <p> {{ secret.what }}</p>
            <p> {{ secret.description }}</p>
            <p> {{ secret.tips }}</p>
            <p> {{ secret.when | date:'MMMM y' }}</p>
        </div>
    </div>
    <!-- /.row -->


<!-- <div *ngFor="let secret of secrets" class="item">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3> {{ secret.where }} </h3>
        <p> {{ secret.location }}</p>
        <p> {{ secret.what }}</p>
        <p> {{ secret.description }}</p>
        <p> {{ secret.tips }}</p>
        <p> {{ secret.when | date:'MMMM y' }}</p>
        <img [src]="secret.image" />
      </div>
    </div>
  </div>
</div> -->
