<div class="cont">
<div class="jumbotron text-center">
  <h2>Search our secret places</h2>
  <form class="form-inline" >
    <div id="search-method">
      <!-- <label class="mr-sm-2" for="inlineFormCustomSelect">Search Secrets</label> -->
      <input type="text" [(ngModel)]="pattern" name="pattern" placeholder="Search by City" id="search" size="50" required> <br>

      <select [(ngModel)]="searchMethod" name="searchMethod" class="custom-select mb-2 mr-sm-2 mb-sm-6" id="inlineFormCustomSelect" >
        <option *ngFor="let field of ['Place to Eat', 'Place to Sleep', 'Activity', 'ViewPoint']" [ngValue]="field">{{field}}</option>
      </select>
      <!-- <div class="input-group"> -->
        <!-- <input type="text" class="form-control" id="search" size="50" placeholder="Type to search... country/secret/place name" name="country" [(ngModel)]="pattern1" required> -->
        <!-- <div class="input-group-btn">
          <button type="button" class="btn btn-danger" (click)="toggle()">Search</button>
        </div> -->
      <!-- </div> -->
    </div>
  </form>
</div>
</div>


<div *ngIf="pattern shouldShow" class="w3-row-padding w3-padding-16 w3-center" id="food">
  <div class="w3-quarter" *ngFor="let secret of secrets | filter: 'location':pattern" >
    <img [src]="secret.image" style="width:100%">
      <h3> {{ secret.location }} </h3>
      <p> {{ secret.location }} | {{secret.what}} </p>
      <a [routerLink]="['/api/secrets', secret._id]"> View Secret </a>
  </div>
</div>
