<div class="jumbotron text-center">
  <h2>Search our secret places</h2>
  <form class="form-inline" >
    <label class="mr-sm-2" for="inlineFormCustomSelect">Search By</label>
    <select [(ngModel)]="searchMethod" id="search-method" name="searchMethod" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" >
      <option *ngFor="let field of ['where', 'location', 'what']" [ngValue]="field">{{field}}</option>
    </select>
    <div class="input-group">
      <input type="text" class="form-control" size="50" placeholder="Type to search... country/secret/place name" name="country" [(ngModel)]="pattern1" required>
      <!-- <div class="input-group-btn">
        <button type="button" class="btn btn-danger" (click)="toggle()">Search</button>
      </div> -->
    </div>
  </form>
  <p>*{{pattern1}}*</p>
</div>

<!-- <div *ngIf="pattern1 shouldShow ">
  <div *ngFor="let secret of secrets | filter: searchMethod: pattern1" class="item" class="col-md-6 col-md-offset-3" class="panel panel-default">
    <div class="panel-body">
      <h3> {{ secret.where }}     </h3>
      <p> {{ secret.location }}   </p>
      <p> {{ secret.what }}       </p>
      <img [src]="secret.image" />
      <a [routerLink]="['/api/secrets', secret._id]">Reveal Secret</a>
    </div>
  </div>
</div> -->

<div *ngIf="pattern1 shouldShow" class="w3-row-padding w3-padding-16 w3-center" id="food">
  <div class="w3-quarter" *ngFor="let secret of secrets | filter: searchMethod: pattern1" >
    <img [src]="secret.image" style="width:100%">
      <h3> {{ secret.where }} </h3>
      <p> {{ secret.location }} | {{secret.what}} </p>
  </div>
</div>
