.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.video {
  width: 100%;
  height: 700px;
}

#about {
  margin-top: -30px;
}

#navInit {
  margin-left: 10%;
}
