<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="https://static.pexels.com/photos/169905/pexels-photo-169905.jpeg" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">
  <a [routerLink]="['/login']" *ngIf="!session.loggedIn()" ><button class="w3-button w3-xlarge w3-theme w3-hover-teal" >Login</button></a>
  <a [routerLink]="['/signup']" *ngIf="!session.loggedIn()"><button class="w3-button w3-xlarge w3-theme w3-hover-teal">Become a member</button></a>

  </div>
</div>

<!-- <div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="../assets/On-The-Ganges.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="../assets/On-The-Ganges.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="../assets/On-The-Ganges.jpg" alt="">
        </div>
    </div>
</div> -->
