<!-- Image Header -->

<div class="w3-display-container w3-animate-opacity" id="homeContainer">
  <!-- <div class="w3-container w3-margin-bottom" id="title">
    <h2 class="w3-wide">Can you keep a secret...?</h2>
  </div> -->
  <video autoplay loop class="video">
    <source src="../assets/The-Truck.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
      <!-- <source src="../assets/h1_rocks2.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser. -->
      <!-- <source src="../assets/On-The-Ganges.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser. -->
  <!-- <img src="" alt="boat" style="width:100%;min-height:350px;max-height:600px;"> -->
  </video>

    <div class="w3-container w3-display-bottomleft w3-margin-bottom" id="navInit">
    <a [routerLink]="['/login']" *ngIf="!isAuth" ><button class="w3-button w3-xlarge w3-hover-teal" >Login</button></a>
    <a [routerLink]="['/signup']" *ngIf="!isAuth"><button class="w3-button w3-xlarge w3-hover-teal">Become a member</button></a>
  </div>
</div>
<div class="w3-container w3-content w3-center w3-padding-64 container" style="max-width:800px">
<hr class="divider">
  <div id="about">
    <h2 class="w3-wide"> ABOUT </h2>
    <p class="w3-opacity"><i>The Secret</i></p>
  </div>
<hr class="divider">
   <p class="w3-justify">The Secret is an exclusive travel website for those hoping to find those hidden gems while they're on the road. We're committed to sharing the joy of discovering the world without endangering the very nature of what makes these places special.
   We're building a community of conscious travellers to share their secrets with like-minded explorers. Our challenge to is be the solution not the problem.</p>
</div>
